<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOSPITAL MS</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="/js/appointment.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
</body>
  <%- include('header'); %>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header container-fluid" style="display: none;">
        <div class="row d-flex justify-content-end">
          <form class="col-3 newform">
            <div class="form-group row d-flex justify-content-center">
              <input type="submit" name="submit" value="+ New appointment" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>%>
      <div class="card-body">
        <table class="table">
          <thead class=".thead-dark">
            <tr>
              <th scope="col">Appointment ID</th>
              <th scope="col">Doctor</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>
