<header>
  <div class="header-nav">
    <p class="welcome"></p>
    <ul>
        <li class=".signout"><a href="/signout">Sign out</a></li>
    </ul>
  </div>
  <p>Hospital Appointment Manager</p>
</header>
